<nav class="navbar navbar-dark bg-dark">
  <div ngbDropdown class="d-inline-block">
    <button class="navbar-toggler" type="button" id="dropdownBasic" ngbDropdownToggle aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
      <button class="dropdown-item" (click)="pushDashboard()">
        <i class="fa fa-home" aria-hidden="true"></i>&nbsp; หน้าแรก
      </button>
      <button class="dropdown-item" (click)="pushPageManual()">
        <i class="fa fa-book" aria-hidden="true"></i>&nbsp; คู่มือการใช้งาน
      </button>
      <button class="dropdown-item" (click)="pushPageManual()">
        <i class="fa fa-qrcode" aria-hidden="true"></i>&nbsp; พิมพ์ QR-Code</button>
      <button class="dropdown-item" (click)="signout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; ออกจากระบบ
      </button>
    </div>
  </div>

  <div id="navbarSupportedContent" class="text-light" style="font-size:18px">
    {{ ( item | async )?.stdId }}&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i>
  </div>
</nav>

<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-light" id="dropdownBasic" ngbDropdownToggle>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="pushDashboard()">Feedback</button>
      <button class="dropdown-item" (click)="pushPageScore()">ตรวจสอบคะแนน</button>
      <button class="dropdown-item" (click)="pushPageManual()">คู่มือการใช้งาน</button>
      <button class="dropdown-item" (click)="signout()">ออกจากระบบ</button>
    </div>
  </div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav-->

<!--nav class="navbar navbar-light bg-light justify-content-between">
  
  <form class="form-inline">
    <a class="navbar-brand" href="#">
      {{ (item | async )?.stdId }}
    </a>
  </form>
</nav-->

<!--div ngbDropdown class="d-inline-block">
  <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" (click)="pushDashboard()">Feedback</button>
    <button class="dropdown-item" (click)="pushPageScore()">ตรวจสอบคะแนน</button>
    <button class="dropdown-item" (click)="pushPageManual()">คู่มือการใช้งาน</button>
    <button class="dropdown-item" (click)="signout()">ออกจากระบบ</button>

  </div>
</div-->