<nav class="navbar navbar-dark bg-dark">
  <div ngbDropdown class="d-inline-block">
    <button class="navbar-toggler" type="button" id="dropdownBasic" ngbDropdownToggle aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
      <button class="dropdown-item" (click)="pushPage('dashboard')">
        <i class="fa fa-home" aria-hidden="true"></i>&nbsp; หน้าแรก
      </button>
      <button class="dropdown-item" (click)="pushPage('manual')">
        <i class="fa fa-book" aria-hidden="true"></i>&nbsp; คู่มือการใช้งาน
      </button>
      <button class="dropdown-item" (click)="pushPage('qrcode')">
        <i class="fa fa-qrcode" aria-hidden="true"></i>&nbsp; พิมพ์ QR-Code</button>
      <button class="dropdown-item" (click)="updateProfile()">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; แก้ไขโปรไฟล์
      </button>
      <button class="dropdown-item" (click)="signout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; ออกจากระบบ
      </button>
    </div>
  </div>

  <div id="navbarSupportedContent" class="text-light" style="font-size:18px">
    {{ ( item | async )?.stdId }}&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i>
  </div>
</nav>