<div id="body">
  <div id="content">
    <img src="assets/images/feedback.png" width="180px" /><br><br>
    <form autocomplete="off" novalidate class="login-form" [formGroup]="form">
      <fieldset>
        <div class="input-group" style="padding-bottom: 10px">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="material-icons">person</i>
            </div>
          </div>
          <input type="text" formControlName="email" class="form-control" placeholder="EMAIL" aria-label="Input group example" aria-describedby="btnGroupAddon">
        </div>

        <div class="input-group" style="padding-bottom: 10px">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="material-icons">vpn_key</i>
            </div>
          </div>
          <input type="password" formControlName="password" class="form-control" placeholder="PASSWORD" aria-label="Input group example"
            aria-describedby="btnGroupAddon">
        </div>

      </fieldset>

      <button [disabled]="!form.valid" type="button" class="btn btn-primary btn-block" (click)="login()">
        SIGN IN
      </button>

      <div style="padding:10px"></div>

      <div class="row">
        <div class="col">
          <button type="button" style="font-size:12px" class="btn btn-light btn-sm btn-block" (click)="signupClick()">
            RESGISTER
          </button>
        </div>
        <div class="col">
          <button type="button" style="font-size:12px" class="btn btn-light btn-sm btn-block" (click)="forgotPassword()">
            Forgot Password ?
          </button>
        </div>
      </div>

      <div style="padding:10px"></div>


      <!--button disabled type="button" class="btn bg-facebook btn-sm btn-block" (click)="onClickFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
        FACEBOOK
      </button>

      <button type="button" class="btn bg-google btn-sm btn-block" (click)="onClickGoogle()">
        <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;
        GOOGLE
      </button-->

      <button disabled type="button" class="btn bg-facebook btn-circle text-light" (click)="onClickFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </button>
      &nbsp;&nbsp;
      <button type="button" class="btn bg-google btn-circle text-light" (click)="onClickGoogle()">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </button>


      <!--a disabled href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle bg-facebook text-light">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      &nbsp;&nbsp;
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-circle bg-google text-light">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a-->


      


      <hr>
      <p>
        <button type="button" class="btn btn-warning btn-sm btn-block" (click)="onClickQrCode()">
          QR-Code
        </button>
      </p>

    </form>
  </div>
</div>