<nav class="navbar navbar-dark bg-dark">
  <div>
    <button type="button" class="btn btn-dark" (click)="pushpage('dashboard')">
      <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;BACK
    </button>
  </div>

  <div id="navbarSupportedContent">
    <button type="button" class="btn btn-dark" (click)="pushpage('feedback')">
      FEEDBACK&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</nav>

<div id="body">
  <div style="padding: 10px"></div>
  <div class="card" style="width: 90%; left: 5%">
    <div class="card-header bg-facebook text-light">
      <b>{{item.course.id}} : {{item.course.name}}</b>
    </div>
    <div class="card-body">
      <div class="text-left">
        <i class="fa fa-id-card text-facebook" aria-hidden="true"></i>&nbsp;<b>{{item.student.id}}</b>
        <div style="padding-left:20px">{{item.student.name}}</div>
        <div style="padding-left:20px">กลุ่ม : {{item.student.group}}</div>
      </div>

      <hr>
      <table class="table text-center">
        <thead class="bg-light">
          <tr>
            <th scope="col" style="font-size:90%">#</th>
            <th scope="col" style="font-size:90%">คะแนน</th>
            <th scope="col" style="font-size:90%">เปอร์เซนต์</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of scoreList; let i = index">
            <th scope="row" style="font-size:90%">
              <button type="button" class="btn btn-light btn-sm" (click)="openEvent(showScore, score)">
                {{ score.key | uppercase}}
              </button>
            </th>
            <td><b>{{ score.sumScore }}</b>/{{ score.totalScore }}</td>
            <td><b>{{ score.studentPercent | number : '1.2-2' }}</b>/{{ score.percentage }}</td>
          </tr>
        </tbody>
      </table>


      <!--div >
        <div class="row">
          <div class="col-5 text-left">
            <b> :</b>
          </div>
          <div class="col-7">
             /
          </div>
        </div>
      </div-->
    </div>


    <div class="card-footer">
      <table class="table text-center">
        <thead class="bg-facebook">
          <tr>
            <th scope="col" style="font-size:90%">รวม</th>
            <th scope="col" style="font-size:90%">เกรด</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size:90%">{{summary.totalScore}}/{{summary.totalPercent}} คะแนน</th>
            <th scope="row" style="font-size:90%">{{ summary.grade }}</th>
          </tr>
        </tbody>
      </table>
      <!--b>รวม : </b><br>
      <b>เกรด : {{summary.grade}}</b-->
      <span *ngIf="summary.totalPercent == 0" class="text-danger text-center" style="font-size:85%">
        ถ้า "เปอร์เซนต์" เป็น 0 หมายถึง อาจารย์ประจำวิชายังไม่ได้กำหนดค่า เปอร์เซนต์คะแนน
      </span>
    </div>
  </div>
</div>

<ng-template #showScore let-c="close" let-d="dismiss">
  <div class="modal-header bg-facebook text-light">
    <h5 class="modal-title" id="modal-basic-title">
      {{ scoreExpand | uppercase }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div *ngIf="item.student[scoreExpand] !== undefined">
      <table class="table text-center">
        <thead class="bg-light">
          <tr>
            <th scope="col" style="font-size:90%">#</th>
            <th scope="col" style="font-size:90%">วันที่</th>
            <th scope="col" style="font-size:90%">คะแนน</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of objectKeys(item.student[scoreExpand]); let s = index">
            <th scope="row" style="font-size:90%">
              {{ s+1 }}
            </th>
            <td scope="row" style="font-size:90%">
              {{ item.student[scoreExpand][key].date | date:'d/M/yyyy'}}
            </td>
            <td>
              <b>{{ item.student[scoreExpand][key].score }}</b>
              <p class="text-success" *ngIf="scoreExpand == 'attendance' && item.student[scoreExpand][key].score !== '0'" style="display:inline; font-size:85%">
                ( {{ item.student[scoreExpand][key].status}} )
              </p>
              <p class="text-danger" *ngIf="scoreExpand == 'attendance' && item.student[scoreExpand][key].score == '0'" style="display:inline; font-size:85%">
                ( {{ item.student[scoreExpand][key].status}} )
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <!--table class="table text-center">
        <thead class="text-facebook">
          <tr>
            <th scope="col" style="font-size:90%">วันที่</th>
            <th scope="col" style="font-size:90%">คะแนน</th>
          </tr>
        </thead>
        <tbody>
          <div *ngFor="let key of objectKeys(item.student[scoreExpand]); let s = index">
            <tr>
              <td style="font-size:90%" class="text-left">
                {{ s+1 }}: {{ item.student[scoreExpand][key].date | date:'shortDate'}}
              </td>
              <td style="font-size:90%" class="text-center">
                <b>{{ item.student[scoreExpand][key].score }}</b>
                ({{ item.student[scoreExpand][key].status}})
              </td>
            </tr>
          </div>
        </tbody>
      </table-->

    </div>
  </div>

</ng-template>