<app-header></app-header>

<div id="body">

  <div *ngIf="isLoader" class="loader"></div>
  <div *ngIf="!isLoader">
    <!--ไม่เจอ------------------------------------------------------------>
    <div *ngIf="isNotFound">
      <div style="padding: 8%">
        <h4 class="text-danger text-center">ไม่พบรายวิชาที่นักศึกษาลงทะเบียน</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p style="display:inline">
          <i class="material-icons">contact_support</i>
          สาเหตุอาจเกิดจาก อาจารย์ประจำรายวิชาไม่ได้ใช้ระบบ Class Attendance หรือรายวิชายังไม่มีการเช็คชื่อ</p>
        <p class="text-secondary" style="display:inline">&nbsp;&nbsp;ให้นักศึกษาติดต่ออาจารย์ประจำรายวิชา</p>
      </div>
    </div>
    <!--เจอ------------------------------------------------------------>
    <div *ngIf="!isNotFound">
      <div style="padding: 15px"></div>
      <h4 class="text-primary text-center">รายวิชาที่นักศึกษาลงทะเบียน</h4>
      <div style="padding: 10px"></div>
      <div *ngFor="let item of studentlist; let i = index;">
        <div class="card" style="width: 84%; left: 8%">
          <div class="card-header bg-facebook text-light">
            <b>{{item.course.id}} : {{item.course.name}}</b>
          </div>


          <div class="card-body">
            <h6 class="card-title">
              <i class="fa fa-book text-facebook" aria-hidden="true"></i><B> รายละเอียด</B>
            </h6>
            <p>
              <b>รหัสวิชา</b> {{item.course.id}}<br> 
              <b>วิชา</b> {{item.course.name}}<br>              
              <b>ประจำปีการศึกษา</b> {{item.course.trimester}} / {{item.course.year}}<br> 
            </p>

            <h6 class="card-title">&nbsp;<i class="fa fa-user text-facebook" aria-hidden="true"></i>&nbsp;&nbsp;<B>อาจารย์ผู้สอน
                </B>: {{item.teacher.data.profile.firstName}} {{item.teacher.data.profile.lastName}}
            </h6>

          </div>


          <div class="card-footer">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-sm btn-light" (click)="onClickCheckScore(item)">
                  <i class="fa fa-file text-facebook" aria-hidden="true"></i>&nbsp; ตรวจสอบคะแนน
                </button>
              </div>

              <div class="col-md-6">
                <button type="button" class="btn btn-sm btn-light" (click)="onClickFeedback(item)">
                  <i class="fa fa-star text-facebook" aria-hidden="true"></i>&nbsp; ประเมินการสอน
                </button>
              </div>
            </div>
          </div>
        </div>
        <div style="padding: 15px"></div>
      </div>

      <!--ul>
            <li *ngFor="let item of studentlist; let i = index;">
              <a>
                <div class="row" (click)="selectedCourse(i)">
                  <div class="col">
                    {{ item.course.id }} : {{ item.course.name }}
                  </div>
                </div>
              </a>
              <div class="row" (click)="selectedCourse(i)">
                <div class="col">อาจารย์ : {{ item.teacher.data.profile.firstName }} {{ item.teacher.data.profile.lastName
                  }}
                </div>
              </div>
              <div class="row" (click)="selectedCourse(i)">
                <div class="col">กลุ่มที่ลงทะเบียน {{ item.student.group }} </div>
              </div>
              <ul *ngIf="isClick && isClickIndex == i">
                <div class="form-group text-center">
                  <button type="button" class="btn btn-primary" (click)="onClickCheckScore(item)">ตรวจสอบคะแนน</button>
                    &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary" (click)="onClickFeedback(item)">ประเมินการสอน</button>
                </div>
              </ul>
            </li>
          </ul-->


    </div>
  </div>
</div>